@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  /* outline: 1px dashed red; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  min-width: 100vw;
  min-height: 100vh;

  padding: 50px;
}

.jogo {
  width: 800px;
  display: flex;
  justify-content: space-between;

  height: 500px;
}

.forca img {
  height: 100%;
}

.direita {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.direita button {
  background-color: #39b89a;
  width: max-content;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  padding: 15px;

  border-radius: 8px;
}

.direita p {
  color: #1b1b1b;
  font-size: 30px;
  letter-spacing: 4px;
}

.direita .errou {
  color: #ff5883;
  font-weight: 700;
}

.direita .acertou {
  color: #39b89a;
  font-weight: 700;
}

.controles {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 50px;
  margin: 50px auto;
}

.controles .letras ul {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(13, auto);
}

.controles .letras li,
.chutar button {
  width: 30px;
  height: 30px;

  font-size: 16px;
  color: #39b89a;
  font-weight: 700;

  text-align: center;
  line-height: 30px;

  background-color: #b9eee1;
  border-radius: 5px;
  outline: 1px solid #39b89a;

  cursor: pointer;
}

.controles .letras li.desativado,
.chutar button.desativado,
input.desativado {
  color: #fff;
  outline: 1px solid #fff;
  background-color: gray;
  opacity: 0.5;
  box-shadow: none;
}

.chutar {
  width: 100%;
}

.chutar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 16px;
}

.chutar label {
  color: #39b89a;
  font-size: 20px;
}

.chutar input {
  outline: 1px solid #b9eee1;
  border-radius: 5px;
  padding: 10px;
  min-width: 50%;
}

.chutar button {
  width: 80px;
  height: 30px;
  transform: translateY(-5px);
  box-shadow: 0 5px #39b89a;
  transition: all 200ms ease;
}

.chutar button:active {
  transform: translateY(2px);
  box-shadow: 0 0px #39b89a;
}

.desativado {
  pointer-events: none;
}
