@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  /* outline: 1px dashed red; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  min-width: 100vw;
  min-height: 100vh;

  padding: 50px;
}

.jogo {
  width: 800px;
  display: flex;
  justify-content: space-between;

  height: 500px;
}

.forca img {
  height: 100%;
}

.direita {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.direita button {
  background-color: #27ae60;

  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;

  border-radius: 8px;
}

.direita p {
  color: #1b1b1b;
  font-size: 30px;
  letter-spacing: 4px;
}

.direita .errou {
  color: red;
  font-weight: 700;
}

.direita .acertou {
  color: #27ae60;
  font-weight: 700;
}

.controles {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 50px;
  margin: 50px auto;
}

.controles .letras ul {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(13, auto);
}

.controles .letras li,
.chutar button {
  width: 30px;
  height: 30px;

  font-size: 16px;
  color: blue;

  text-align: center;
  line-height: 30px;

  background-color: lightblue;
  border-radius: 5px;
  outline: 1px solid blue;

  cursor: pointer;
}

.controles .letras li.desativado {
  color: #1b1b1b;
  outline: 1px solid #1b1b1b;
  background-color: lightgray;
  opacity: 0.8;
  pointer-events: none;
}

.controles .chutar {
  width: 100%;
}

.controles .chutar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 16px;
}

.controles input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  min-width: 50%;
}

.controles button {
  width: 80px;
}
